[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "COMBAT"]
	path = COMBAT
	url = https://github.com/mw201608/combat
[submodule "NetWeaver"]
	path = NetWeaver
	url = https://github.com/mw201608/netweaver
[submodule "SuperExactTest"]
	path = SuperExactTest
	url = https://github.com/mw201608/superexacttest
