[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "SuperExactTest"]
	path = SuperExactTest
	url = https://github.com/mw201608/superexacttest
	shallow = true
	registered = true
[submodule "NetWeaver"]
	path = NetWeaver
	url = https://github.com/mw201608/netweaver
	shallow = true
	registered = true
